
.todolistWrapper {
  display: flex;
  width: fit-content;
  padding: 10px 15px;

  list-style: none;
  background-color: #ffa500;
  border-radius: 8px;

  position: relative;
}

.todolistTitle {
  font-weight: 700;
  color: #00cf1f;
}

.todolistTitle {
  margin-right: 10px;
}

.delItemBtn {
  position: absolute;
  right: 0;
  top: 0;

  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
}


