
button {
  /* Скасувати стандартні стилі */
  background-color: transparent;
  border: none;
  outline: none;
  /* Додати ваші власні стилі */
  /* Наприклад: */
  padding: 0;
  margin: 0;
  cursor: pointer; /* Додайте курсор pointer, щоб показати, що кнопка є інтерактивною */
}
